.app-container {
max-width: 600px;
margin: auto;
height: 100vh;
display: flex;
flex-direction: column;
}

.loading-spinner {
height: 40px;
margin: -15px;
}

.welcome-message {
color: rgb(120, 120, 120);
text-align: center;
}